@import url('reset.css');
@import url('fonts.css');
@import url('fancy.css');

/* ~~~~~~~~~~ Layout (sticky footer) ~~~~~~~~~~ */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: table;
}

.content-wrapper {
	display: table-row;
	height: 100%;
}

.content {
	display: table-cell;
	max-width: 650px;
	margin: 0 auto;
	padding: 3em;
}

/* ~~~~~~~~~~ Body ~~~~~~~~~~ */

body {
	font-family: Avenir, Arial, Helvetica, sans-serif;
	font-size: 17px;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

/* ~~~~~~~~~~ Header ~~~~~~~~~~ */

.wordmark {
	max-width: 650px;
	height: 45px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 0 3em;
}

.wordmark span {
	display: block;
	color: transparent; /* Hide text */
	height: 100px;
	background: url('media/wordmark.png') no-repeat;
	background-origin: content-box;
	background-size: contain;
}

.header_contact {
	max-width: 659px;
	margin: 29px auto;
	padding: 0 3em;
	text-transform: uppercase;
	font-size: 22px;
}

.header_contact a {
	color: inherit;
}

nav {
	width: 100%;
	background-color: #3558A7;
}

nav ul {
	max-width: 655px;
	margin: 0 auto;
	padding: 0 3em;
}

nav ul li {
	display: inline-block;
	margin: 15px;
}

nav a {
	display: inline-block;
	
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li:last-child {
	margin-right: 0;
}

.current_page {
	border-bottom: 1px solid white;
}


/* ~~~~~~~~~~ Content ~~~~~~~~~~ */

.content {
	line-height: 1.25; /* 1.25x font size */
}

.content>* {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.content {
	font-size: 17px;
}

.content a {
	color: #6988B5;
}

h2 {
	/* margin-top: 20px; */
	margin-bottom: 20px;
	color: #3558A7;
	font-size: 40px;
	font-weight: normal;
}

h3 {
	padding-top: 20px;
	color: #3558A7;
	font-size: 25px;
	font-weight: normal;
}

.about p {
	max-width: 600px;
}

.content .black_links {
	color: inherit;
}

.content .black_links:hover {
	color: #6988B5;
}

/* Index */

.about .text {
	padding: 20px 30px;
}

/* Resume */

.resume ul {
	padding-left: 40px;
}

.resume li {
	margin: 1em 0;
}

.unstyled_list {
	list-style: none;
}

.unstyled_list ul {
	list-style: disc;
}

.unstyled_list ul ul {
	list-style: circle;
}

/* Design */

.design_projects li {
	min-height: 60px;
	list-style: none;
	padding: 10px;
}

.design_projects li .tiny_thumbnail {
	float: left;
	margin: 0 20px 0 0;
}

/* Contact */

.main_contact p {
	max-width: 350px;
}

.other_contact {
	float: right;
	padding-left: 1em;
	padding-bottom: 1em;
}

.other_contact h3 {
	padding-top: 0;
}

/* ~~~~~~~~~~ Footer ~~~~~~~~~~ */

.footer {
	width: 100%;
	background-image: url("media/border.png");
	background-repeat: repeat-x;
	background-position: 0 25px;
	font-size: 15px;
}

.footer .copyright {
	max-width: 650px;
	margin: 0 auto;
	padding: 0 3em;
	padding-bottom: 30px;
	text-align: right;
}

.footer .footerlinks {
	max-width: 650px;
	margin: 15px auto;
	padding: 0 3em;
	text-align: right;
}

.footer .footerlinks a {
	text-transform: uppercase;
	color: black;
}
